body {
font-family: Arial;
margin: 0;
background: #0f172a;
color: white;
}

header {
background: #020617;
padding: 30px;
text-align: center;
}

nav {
text-align: center;
background: #1e293b;
padding: 10px;
}

nav a {
color: white;
margin: 10px;
text-decoration: none;
}

section {
padding: 40px;
}

.project {
background: #1e293b;
padding: 20px;
margin-top: 15px;
border-radius: 10px;
}
